body {
  margin: 0px;
}

#main{
  max-width: 960px;
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
  font-family: Palatino;
}

#image {
  max-width: 100%;
  display: block;
}

#img-div {
  margin: 0px;
}

#img-caption {
  font-size: small;
  margin-top: 5px;
}

#tribute-info {
  display: grid;
  grid-template-areas: 
        "carl"
        "earthone"
        "neil"
        "earthtwo";
}

@media (min-width: 600px){
    #tribute-info{
      grid-template-areas:
        "carl earthone"
        "earthtwo neil";
    }
}

#carl-letter {
  text-align: left;
  grid-area: carl;
}

#earth-one-image {
  grid-area: earthone;
}

#neil-letter {
  text-align: left;
  grid-area: neil;
}

#earth-two-image {
  grid-area: earthtwo;
}

